$outline:
2px 0 2px #000,
0 2px 2px #000,
-2px 0 2px #000,
0 -2px 2px #000;

html, body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video{
  width: 100vw;
  height: 100vh;
  min-height: 620px;
  object-fit: cover;
  z-index: -1;
  position: absolute;

}

.promo{
  height: 100vh;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h1{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #FFF;
    margin: 0;
    text-shadow: $outline;
  }

  div{
    display: flex;
    justify-content: space-evenly;

    img{
      width: 250px;
    }
  }
}

.promo-list{
  display: flex;
  align-items: center;
  flex-direction: column;

  ul {
    font-size: 26px;
    color: #FFF;
    font-weight: 400;
    margin: 0;
    text-shadow: $outline;
    list-style-position: inside;
    padding: 0;

    li {
      margin-bottom: 20px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.scroll-button{
  padding: 20px 80px;
  font-size: 24px;
  font-weight: 400;
  border: 2px solid darkslategray;
  background-color: #0D5C63;
  color: #FFF;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
  width: 300px;
}
.scroll-button:hover{
  border: 2px solid darkslategray;
  background-color: #FFF;
  color: #0D5C63;
  transition: 0.4s;
}

.composition-equalizer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
}

.composition{
  display: grid;
  grid-template-columns: 150px 100px 200px 100px 150px;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;

  .composition-arrows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

    div{
      height: 150px;
      display: flex;
      align-items: center;

      img{
        width: 80px;
      }
    }
  }

  .composition-arrows:nth-child(2){
    div:first-child{
      img{
        transform: rotate(20deg);
        margin-top: 50px;
      }
    }

    div:nth-child(2){
      img{
        margin-left: 5px;
      }
    }

    div:last-child{
      img{
        transform: rotate(-20deg);
        margin-bottom: 50px;
      }
    }
  }

  .composition-arrows:nth-child(4){
    div{
      display: flex;
      flex-direction: row-reverse;
    }

    div:first-child{
      img{
        transform: rotate(160deg);
        margin-top: 50px;
      }
    }

    div:nth-child(2){
      img{
        transform: rotate(180deg);
        margin-right: 5px;
      }
    }

    div:last-child{
      img{
        transform: rotate(200deg);
        margin-bottom: 50px;
      }
    }
  }

  .composition-image{
    display: flex;
    align-items: center;
    img{
      width: 200px;
    }
  }
}

.composition-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;

  div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("../media/composition-item.jpg") center center / cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    p{
      margin: 0;
      font-size: 20px;
      color: #FFF;
      text-shadow: $outline;
    }
  }

  div:last-child{
    margin: 0;
  }
}

.composition-bg{
  background: rgb(168,27,189);
  background: linear-gradient(31deg, rgba(168,27,189,1) 0%, rgba(0,255,188,1) 34%, rgba(68,187,246,1) 63%, rgba(118,197,213,1) 86%);
  min-height: 100vh;
  padding-bottom: 20px;
}

.slider-bg{
  background: rgb(118,197,213);
  background: linear-gradient(329deg, rgba(118,197,213,1) 14%, rgba(68,187,246,1) 37%, rgba(0,255,188,1) 56%, rgba(168,27,189,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.product-description-bg{
  background: rgb(168,27,189);
  background: linear-gradient(31deg, rgba(168,27,189,1) 0%, rgba(0,255,188,1) 34%, rgba(68,187,246,1) 63%, rgba(118,197,213,1) 86%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-description{
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  div:first-child{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;

    img{
      max-width: 350px;
    }

    div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p{
        margin: 0;
        text-align: center;
        font-size: 28px;
        max-width: 300px;
        color: #FFF;
        text-shadow: $outline;
      }
    }

  }

  div:last-child{
    ul{
      display: flex;
      justify-content: space-evenly;

      li{
        font-size: 24px;
        color: #FFF;
        text-shadow: $outline;
      }
    }
  }
}

.order-bg{
  background: rgb(118,197,213);
  background: linear-gradient(329deg, rgba(118,197,213,1) 14%, rgba(68,187,246,1) 37%, rgba(0,255,188,1) 56%, rgba(168,27,189,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.order{
  width: 100%;

  h2{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #FFF;
    margin: 0;
    text-shadow: $outline;
  }

  h3{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    margin: 0;
    text-shadow: $outline;
  }
}

.order-content{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.order-content-price{
  img{
    width: 220px;
    margin-bottom: 10px;
  }

  div{
    display: flex;
    align-items: center;

    div{
      margin-right: 10px;

      span{
        display: inline-block;
        font-size: 30px;
        color: gold;
        font-weight: 700;
        text-shadow: $outline;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
      }
    }

    p{
      color: gold;
      margin: 0;
      font-weight: 700;
      text-shadow: $outline;
      position: relative;
      font-size: 18px;
    }

    p:before{
      border-bottom: 2px solid red;
      position: absolute;
      content: "";
      width: 100%;
      height: 25%;
      transform: rotate(-12deg);
    }
  }
}

.order-form{
  width: 320px;
  display: flex;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    width: 100%;

    label{
      margin: 0 0 5px 0;
      font-size: 20px;
      color: #FFF;
      text-shadow: $outline;
    }

    input{
      margin-bottom: 40px;
      padding: 15px 40px;
      font-size: 22px;
      border-radius: 20px;
      border: 2px solid darkslategray;
      outline: none;
    }

    input::placeholder{
      font-size: 16px;
    }

    button{
      padding: 20px 0;
      font-size: 30px;
      border: 2px solid darkslategray;
      background-color: #0D5C63;
      color: #FFF;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.4s;
      margin-bottom: 20px;
    }

    button:hover{
      color: #0D5C63;
      background-color: #FFFFFF;
      transition: 0.4s;
    }
  }
}

@media screen and (max-width: 768px) {
  .promo{
    h1{
      margin-bottom: 10px;
    }

    div{
      flex-direction: column;
      align-items: center;

      img{
        width: 200px;
      }

      ul{
        margin: 10px 0;
        max-width: 300px;
        font-size: 22px;
      }

      button{
        margin-top: 10px;
      }
    }
  }

  .composition-equalizer{
    button{
      margin-top: 20px;
    }
  }

  .composition{
    display: grid;
    width: 320px;
    grid-template:
    "LevelUp LevelUp" 160px
    "LevelUp LevelUp" 160px
    "items1 items2" 1fr
    "items1 items2" 1fr
    / 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;

    .composition-image{
      grid-area: LevelUp;
    }

    .composition-items:first-child{
      grid-area: items1;
    }

    .composition-items:last-child{
      grid-area: items2;
    }

   .composition-arrows{
     display: none;
   }
  }
}

.mySlides{
  div:nth-child(2){
    img{
      width: 470px;
      height: 270px;
    }
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }
}

.product-description{
  div:first-child{
    align-items: center;
    flex-direction: column;

    img{
      width: 310px;
    }

    div{
      p{
        font-size: 24px;
      }

      button{
        margin-top: 20px;
      }
    }
  }

  div:last-child{
    ul{
      flex-direction: column;
      align-items: center;
      list-style-position: inside;
      padding: 0;
    }
  }
}

.order-content{
  flex-direction: column;
  align-items: center;
}

.order-form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  form{
    width: 300px;

    input::placeholder{
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .mySlides{
    div:nth-child(2){
      img{
        width: 310px;
        height: 190px;
      }
    }
  }
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}




